@import "@radix-ui/colors/gray.css";
@import "tailwindcss";

@theme {
  --color-accent: #b3fc03;
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);
  --radius-6: 6px;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::-moz-selection {
  @apply text-accent bg-accent/10;
}

::selection {
  @apply text-accent bg-accent/10;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

a,
button {
  touch-action: manipulation;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  font-family: "Monument Grotesk", sans-serif;
  font-size: 14px;
  color: rgb(var(--foreground-rgb));
}

.bg {
  background-image: linear-gradient(to right, #101010, rgba(0, 0, 0, 0.83)),
    url(/noise.svg), linear-gradient(#b3fc03 1px, transparent 1px),
    linear-gradient(to right, #b3fc03 1px, #000 1px);
  background-size: auto, auto, 20px 20px, 20px 20px;
}

.accordion-grid-cols {
  grid-template-columns: min-content 125px 1fr min-content min-content;
}
